In [2]:
import pandas

In [8]:
df1=pandas.read_json("http://pythonhow.com/supermarkets.json")
df1

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [9]:
df1["Continent"]=df1.shape[0]*["North America"]

In [10]:
df1

,Address,City,Country,Employees,ID,Name,State,Continent
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North America
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North America
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North America
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North America
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North America
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North America

In [11]:
import geopy

In [12]:
dir(geopy)

['ArcGIS',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeFarm',
 'GeocoderDotUS',
 'GoogleV3',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'NaviData',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Photon',
 'Point',
 'What3Words',
 'YahooPlaceFinder',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'units',
 'util']

In [13]:
from geopy.geocoders import Nominatim

In [14]:
nom=Nominatim()

In [17]:
n=nom.geocode("3995 23rd St, San Francisco, CA 94114")
n

Location(3995, 23rd Street, Noe Valley, SF, California, 94114, United States of America, (37.7529648, -122.431714, 0.0))

In [18]:
n.latitude

37.7529648

In [19]:
n.longitude

-122.431714

In [20]:
type(n)

geopy.location.Location

In [21]:
df1

,Address,City,Country,Employees,ID,Name,State,Continent
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North America
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North America
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North America
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North America
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North America
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North America

In [25]:
df1["Address"]=df1["Address"]+','+df1["City"]+','+df1["State"]+','+df1["Country"]
df1

,Address,City,Country,Employees,ID,Name,State,Continent,Addres
0,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,USA,8,1,Madeira,CA 94114,North America,"3666 21st St,San Francisco,CA 94114,USA"
1,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,USA,15,2,Bready Shop,CA 94119,North America,"735 Dolores St,San Francisco,CA 94119,USA"
2,"332 Hill St,San Francisco,California 94114,USA",San Francisco,USA,25,3,Super River,California 94114,North America,"332 Hill St,San Francisco,California 94114,USA"
3,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,USA,10,4,Ben's Shop,CA 94114,North America,"3995 23rd St,San Francisco,CA 94114,USA"
4,"1056 Sanchez St,San Francisco,California,USA",San Francisco,USA,12,5,Sanchez,California,North America,"1056 Sanchez St,San Francisco,California,USA"
5,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,USA,20,6,Richvalley,CA 94114,North America,"551 Alvarado St,San Francisco,CA 94114,USA"

In [26]:
df1=df1.drop("Addres",1)
df1

,Address,City,Country,Employees,ID,Name,State,Continent
0,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,USA,8,1,Madeira,CA 94114,North America
1,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,USA,15,2,Bready Shop,CA 94119,North America
2,"332 Hill St,San Francisco,California 94114,USA",San Francisco,USA,25,3,Super River,California 94114,North America
3,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,USA,10,4,Ben's Shop,CA 94114,North America
4,"1056 Sanchez St,San Francisco,California,USA",San Francisco,USA,12,5,Sanchez,California,North America
5,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,USA,20,6,Richvalley,CA 94114,North America

In [29]:
df1["Coordinates"]=df1["Address"].apply(nom.geocode) #Methode die die iets uitvoert op elke rij
df1

,Address,City,Country,Employees,ID,Name,State,Continent,Coordinates
0,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,USA,8,1,Madeira,CA 94114,North America,"(3666, 21st Street, Noe Valley, SF, California..."
1,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,USA,15,2,Bready Shop,CA 94119,North America,None
2,"332 Hill St,San Francisco,California 94114,USA",San Francisco,USA,25,3,Super River,California 94114,North America,"(332, Hill Street, Liberty Street Historic Dis..."
3,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,USA,10,4,Ben's Shop,CA 94114,North America,"(3995, 23rd Street, Noe Valley, SF, California..."
4,"1056 Sanchez St,San Francisco,California,USA",San Francisco,USA,12,5,Sanchez,California,North America,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,USA,20,6,Richvalley,CA 94114,North America,"(551, Alvarado Street, Noe Valley, SF, Califor..."

In [30]:
df1.Coordinates

0    (3666, 21st Street, Noe Valley, SF, California...
1                                                 None
2    (332, Hill Street, Liberty Street Historic Dis...
3    (3995, 23rd Street, Noe Valley, SF, California...
4    (1056, Sanchez Street, Noe Valley, SF, Califor...
5    (551, Alvarado Street, Noe Valley, SF, Califor...
Name: Coordinates, dtype: object

In [31]:
df1.Coordinates[0]

Location(3666, 21st Street, Noe Valley, SF, California, 94114, United States of America, (37.756488877551, -122.429343346939, 0.0))

In [33]:
df1.Coordinates[0].latitude

37.756488877551

In [34]:
df1["Latitude"]=df1["Coordinates"].apply(lambda x: x.latitude) #werkt niet door None value in de kolom
df1

AttributeError: 'NoneType' object has no attribute 'latitude'

In [35]:
df1["Latitude"]=df1["Coordinates"].apply(lambda x: x.latitude if x != None else None)
df1

,Address,City,Country,Employees,ID,Name,State,Continent,Coordinates,Latitude
0,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,USA,8,1,Madeira,CA 94114,North America,"(3666, 21st Street, Noe Valley, SF, California...",37.756489
1,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,USA,15,2,Bready Shop,CA 94119,North America,None,NaN
2,"332 Hill St,San Francisco,California 94114,USA",San Francisco,USA,25,3,Super River,California 94114,North America,"(332, Hill Street, Liberty Street Historic Dis...",37.755725
3,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,USA,10,4,Ben's Shop,CA 94114,North America,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965
4,"1056 Sanchez St,San Francisco,California,USA",San Francisco,USA,12,5,Sanchez,California,North America,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146
5,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,USA,20,6,Richvalley,CA 94114,North America,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673

In [36]:
df1["Longitude"]=df1["Coordinates"].apply(lambda x: x.longitude if x != None else None)
df1

,Address,City,Country,Employees,ID,Name,State,Continent,Coordinates,Latitude,Longitude
0,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,USA,8,1,Madeira,CA 94114,North America,"(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,USA,15,2,Bready Shop,CA 94119,North America,None,NaN,NaN
2,"332 Hill St,San Francisco,California 94114,USA",San Francisco,USA,25,3,Super River,California 94114,North America,"(332, Hill Street, Liberty Street Historic Dis...",37.755725,-122.428601
3,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,USA,10,4,Ben's Shop,CA 94114,North America,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,"1056 Sanchez St,San Francisco,California,USA",San Francisco,USA,12,5,Sanchez,California,North America,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
5,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,USA,20,6,Richvalley,CA 94114,North America,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220